<div class="container p-3 md:p-2 mt-2  ">
    <div class="table-responsive p-3 ">
        <table class="table table-bordered ">
            <thead class="table-info ">
                <tr>
                    <th scope="col">Item Code
                    </th>
                    <th scope="col">Description
                    </th>
                    <th scope="col">Qty</th>
                    <th scope="col">Prize</th>
                    <th scope="col">Total
                    </th>
                    <th scope="col">Product Qty
                    </th>
                    <th scope="col">Deliver Qty
                    </th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="container d-flex flex-row  justify-content-between mt-2 mt-md-5   ">
            <div class="d-flex flex-row justify-content-between text-center align-items-center  p-2 bg-info-subtle  rounded ">
               <h5 class="pe-2 "><b>Total</b> : 3200</h5>
               <h5 class="pe-2 "><b>VAT</b> : 3200</h5>
               <h5 class="pe-2 "><b>Net</b> : 3200</h5>
            </div>
            <div class="d-flex flex-column align-items-end">
                <div class="input-group ">
                    <span class="input-group-text text-primary">Remarks</span>
                    <textarea class="form-control w-50" rows="2" cols="50" aria-label="With textarea"></textarea>
                  </div>
                <button class="btn btn-primary text-white mt-1">Comment</button>
            </div>
        </div>
    </div>
</div>