<div class="container d-flex justify-content-between align-items-center py-3 mt-5 mb-2 ">
    <h1 class="h3 ps-5 text-black-50 d-none d-lg-block">{{ listTittle }}</h1>
    <h2 class="h6 ps-2 text-black-50 d-block d-lg-none">{{ listTittle }}</h2>
    <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="blue" class="bi bi-filter d-none d-lg-block" viewBox="0 0 16 16">
            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
          </svg>
      <select class="form-select   bg-white  text-primary border-0 ">
        <option value="">Filter</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
      </select>
      <button class="btn btn-primary w-50 d-flex align-items-center" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus " viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
         Add 
    </button>
    </div>
  </div>