<!-- <div class="main_body">
    <div class="main_body_sub">
        <div class="header">
            <p >Job Order List</p>
            <div class="button_div">
                <button class="filter_button">Filter</button>
                <button  class="blue-button"  (click)="add()">add</button>
            </div>
        </div>
        <div>
            <table class="job-table">
                <thead>
                  <tr>
                    <th>SL.no</th>
                    <th>Job Id</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Contact</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>123456</td>
                    <td>2024/02/01</td>
                    <td>Alice Johnson</td>
                    <td>23456 78901</td>
                    <td>Completed</td>
                  </tr>
                  <tr>
                     <td>2</td>
                    <td>234567</td>
                    <td>2023/05/08</td>
                    <td>Reo George</td>
                    <td>89210 66518</td>
                    <td>Completed</td>
                  </tr>
                  Add more rows as needed -->
                <!-- </tbody>
              </table>
        </div>
    </div>
  
</div> -->




<app-job-order-list-head></app-job-order-list-head>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of items">
      <div class="card">
        <div class="card-header">{{item.id}}</div>
        <div class="card-body">
          <p><strong>{{item.range}}</strong></p>
          <p><span class="badge badge-success">{{item.status}}</span></p>
          <hr/>
          <h5>Description:</h5>
          <p>{{item.description}}</p>
          <hr/>
          <button type="button" class="btn btn-primary">Timeline</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

