.all-button{
    background-color: rgb(44, 98, 254);
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 74px;
    height: 38px;
   
}
.Ongoing-button{
    background-color: rgb(44, 98, 254);
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 90px;
    height: 38px;
}
.head{
 display: flex;
 justify-content: flex-end;

}
.main__body{
    width: 90%;
    margin-right: 5%;
    margin-top: 8%;
    margin-left: 5%;
}
.head p{
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
}


  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid black;
  }

  .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .timeline button {
    background-color: rgb(44, 98, 254);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
  }

  .completed {
    background-color: #9cefbf;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  .description {
    margin-bottom: 12px;
    line-height: 1.5;
  }
  .description p{
    font-size: 12px;
  }

  .department {
    font-weight: bold;
    color: #34495e;
    margin-bottom: 8px;
  }

  .timeline {
    display: flex;
    justify-content: space-between;
  }
  .card_class{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 14px;
  }
  .card_class_two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 14px;
  }

  