
<div class="main__body">
    <div>
      <div class="head">
          <p>Department</p>
          <button  class="all-button">all</button>
          <p>Status</p>
          <button  class="Ongoing-button">Ongoing</button>
      </div>
    </div>
    <div>
        <h2>1000</h2>
    </div>
    <div class="card_class">
        <div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div>
          <div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div><div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div>
          <div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div>

    </div>
    <div>
        <h2>
            10002
        </h2>
    </div>
    <div class="card_class_two">
        <div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div>

          <div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div>

          <div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div>

          <div class="card">
            <div class="status">
                <span class="timeline">1000 -1011</span>
              <button class="completed">Completed</button>
              
            </div>
            <div class="description">
                <h3>Description :</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a 
                galley of type and scrambled it to make a type 
                specimen book.
              </p>
            </div>
            <div class="department">Department: Design</div>
            <div class="timeline">
              <button>Timeline</button>
            </div>
          </div>
    </div>
</div>







