<div class="container p-3 md:p-4">
    <div class="container d-flex flex-row  justify-content-between mb-5">
        <div>
            <h3 class="text-primary fw-bold  d-none d-lg-block">Add item</h3>
            <h4 class="text-primary  d-block d-lg-none">Add item</h4>
        </div>
        <div>
            <button class="btn btn-white text-primary"> Invoice</button>
            <button class="btn btn-primary text-white">Add Payment</button>
        </div>
    </div>
<form [formGroup]="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group d-flex flex-row justify-content-between pb-2  ">
          <label for="job-id" >Job Id:</label>
          <input type="text" class="form-control w-75 shadow-sm " id="job-id" formControlName="jobId" required>
        </div>
        <div class="form-group d-flex flex-row justify-content-between pb-2 ">
          <label for="lpo-no">LPO No:</label>
          <input type="text" class="form-control  w-75 shadow-sm" id="lpo-no" formControlName="lpoNo" required>
        </div>
        <div class="form-group d-flex flex-row justify-content-between pb-2 ">
          <label for="lpo-date">LPO Date:</label>
          <input type="date" class="form-control w-75 shadow-sm" id="lpo-date" formControlName="lpoDate" required>
        </div>
      </div>
  
      <div class="col-md-6 ps-3 ">
        <div class="form-group d-flex flex-row justify-content-between pb-2 ">
            <label for="customer">Customer:</label>
            <input type="text" class="form-control  w-75 shadow-sm" id="customer" formControlName="customer" required>
          </div>
        <div class="form-group d-flex flex-row justify-content-between pb-2 ">
          <label for="date">Date:</label>
          <input type="date" class="form-control  w-75 shadow-sm" id="date" formControlName="date">
        </div>
        <div class="form-group d-flex flex-row justify-content-between pb-2 ">
          <label for="completion-date">Completion Date:</label>
          <input type="date" class="form-control  w-75 shadow-sm " id="completion-date" formControlName="completionDate">
        </div>
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button> -->
  </form>
</div>