<div class="container ">
    <div class="table-responsive p-3 ">
        <table class="table bo">
            <thead  >
                <tr class="text-black-50">
                    <th scope="col" class="text-black-50"></th>
                    <th class="text-black-50">Job Id</th>
                    <th class="text-black-50">Date</th>
                    <th class="text-black-50">Customer</th>
                    <th class="text-black-50">Contact</th>
                    <th class="text-black-50">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <th scope="row">1</th>
                    <td>123456 </td>
                    <td>2024/02/01</td>
                    <td>Alice Johnson</td>
                    <td>23456 78901</td>
                    <td  >
                        <button class="btn btn-success rounded-3  ">Completed</button></td>
                    <!-- <td class="bg-warningrounded-3"><button class="btn btn-warning rounded-3  ">Ongoing</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>